/* reset */
* {
    margin: 0;
    padding: 0;
}

/* utils */
.container {
    height: 20px;
    line-height: 20px;
    border: 1px dashed black;
    margin: 15px 0;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.small-container {
    height: 400px;
}

.medium-container {
    height: 500px;
}

.big-container {
    height: 900px;
}

.small {
    height: 300px;
    width: 700px;
}

.medium {
    height: 400px;
    width: 900px;
}

.big {
    height: 800px;
    width: 900px;
}

.inline {
    flex: auto;
}

/* tag */
nav {
    text-align: center;
    width: 500px;
}

/* header */

.header-lato {
    width: 200px;
}

.header-login {
    text-align: right;
}

/* colori */
/* sfondi */
.lightblue {
    background-color: lightblue;
}

.yellow {
    background-color: #dfa31d;
    padding: 10px;
}

.gray {
    background-color: gray;
    padding: 10px;
}

.black {
    background-color: #23272a;
}

/* rettangoli */
.pink {
    background-color: #f592ef;
}

.blue {
    background-color: blue;
}

.cyan {
    background-color: #148bfe;

    width: 60%;
    height: 100%;
}

.light-pink {
    background-color: pink;

    width: 40%;
    height: 100%;
}

.green {
    background-color: green;
}
